*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* font size = 10px. = 1rem */
}

body {
    box-sizing: border-box;
    background-color: #fff;
}

p {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    color: #554346;
    font-size: 2.2rem;;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3rem;
}

h1, h3, h4 {
    letter-spacing: .5rem;
    font-family: 'Montserrat', sans-serif;
    color: #3f3335;
}

p {
    font-size: 1.8rem;
    font-family: 'Work Sans', sans-serif;
    line-height: 200%;
    margin-top: 3rem;
}

a {
    text-decoration: none;
}

/* NAVIGATION BAR */
.navbar {
    width: 100%;
    height: 5.5rem;
    background-color: #fff;
}

.navbar__logo {
    padding-left: 1rem;
    padding-top: 1rem;
    float: left;
}

.navbar__logo--img {
    height: 4rem;
}

.navbar__links {
    float: right;
}

.navbar__links--icon {
    height: 5rem;
    padding-top: 1rem;
    margin-right: 1rem;
}

/* HEADER */
.header {
    width: 100%;
    height: 60vh;
    background: linear-gradient(300deg, #F05AE5, #C5C6FF);
    position: relative; 
}

.header__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.header__text h2 {
    margin-top: 3rem;
}

.header .btn {
    margin-top: 5rem;
}

/* SECTION */
.section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #C5C6FF 0%, #fff 46%);
    padding-top: 14rem;
    padding-bottom: 14rem;
}

.section-title {
    width: 100%;
    text-align: center;
}

.section-img {
    width: 12rem;
    margin: auto;
}

/* ABOUT ME SECTION */
.about {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
}

.about-text__container {
    padding: 5rem;
}

.about-image__container {
    align-self: center;
}

.about-image {
    height: 50rem;
    border-radius: 3rem;
}

/* CARDS SECTION */
.section__cards {
    min-height: 50rem;
    margin-top: 10rem;
    padding: 0 1rem;
}

/* FOOTER */
.footer {
    background: linear-gradient(300deg, #F05AE5, #C5C6FF);
    padding: 3rem 10rem;
    text-align: center;
}

.footer__logobox {
    margin: 0 auto;
}

.footer a {
    color: white;
}

/* LAYOUT */
.grid-container {
    max-width: 80rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 10rem;
}

.grid-item {
    text-align: center;
    margin: 0 auto;
    width: 30rem;
    height: 40rem;
}

/* CARDS */
.card {
    height: 40rem;
    width: 30rem;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem 0 rgb(0, 0, 0, 0.2);
    overflow: hidden;
}

.card__img {
    height: 30rem;
    background-size: cover;
}

.card__img-webdev {
    background-image: linear-gradient(300deg, rgb(240, 90, 229, .7), rgb(197, 198, 255, .7)), url('images/card-img-web-dev.jpg');
}

.card__text {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    text-align: center;
    position: relative;
}

.card__text h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* BUTTON */
.btn {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #F05AE5;
    padding: 1rem;
    border: .2rem solid #F05AE5;
    background-color: #fff;
    border-radius: 3rem;
}